
.contactUsTitle{
    font-weight: 700;
    color: white;
}
.emptymodern{
    height: 600px;
    
}

.collectionOfImages{
    overflow-x: hidden;
    height: 800px;
    width:100%;
    background-image: linear-gradient(to bottom, rgb(5, 24, 38), rgba(100, 154, 179, 0)),url('../Assets/empty-modern-creative.jpg');
    background-size: cover;
    
}
.contactUsSection{
    background-color: rgb(5, 24, 38);
}
.socialMediaLinks{
    list-style: none;
}
.socialMediaLink{
    cursor: pointer;
}
.socialMediaLink:hover{
    color: rgb(231, 203, 22);
    transform: scale(1.2);
    
}
.contactForm{
    border-radius: 20px;
    background-color:rgb(5, 24, 38);
    width: 80%;
    box-shadow: rgb(4, 6, 7) 6px 5px 10px 2px ;
    border: 1px solid;
    border-color:rgb(229, 230, 231) ;
    
}
.contactFormTitle{
    font-weight: 600;
}
.selfie{
    height: 500px;
}