
.contactUsTitle{
    font-weight: 700;
    color: white;
}
.emptymodern{
    height: 600px;
    
}

.collectionOfImages{
    overflow-x: hidden;
    height: 800px;
    width:100%;
    background-image: linear-gradient(to bottom, rgb(5, 24, 38), rgba(100, 154, 179, 0)),url('../Assets/empty-modern-creative.jpg');
    background-size: cover;
    
}
.contactUsSection{
    background-color: rgb(5, 24, 38);
}
.socialMediaLinks{
    list-style: none;
}
.socialMediaLink{
    cursor: pointer;
}
.socialMediaLink:hover{
    color: rgb(231, 203, 22);
    transform: scale(1.2);
    
}
.contactForm{
    border-radius: 20px;
    background-color: rgb(45, 69, 86);
    width: 80%;
    box-shadow: 20px;
    
}
.contactFormTitle{
    font-weight: 600;
}