
.items{
    list-style: none;
    
}
.items li {
    cursor: pointer;
}
.footer{
    background-color: rgb(85, 100, 110);
}
.allRights{
    color: rgb(198, 196, 196);
}
.links{
    text-decoration: none;
    color: white;
}
.links:hover{
    color: rgb(253, 213, 32);
}