
.homeRow{
    height:670px;
    background: radial-gradient(at left 60%, rgb(24, 102, 134),rgb(3, 14, 22));
    background-size: cover;
    margin: 0;
    z-index: -5;
    overflow-x: hidden;
}
.frontPageImage{
    height: 600px;
    width: 100%;  
    animation: slideright 2s ease-in;
    animation-delay: 5s;
    

}


.homePageTitle{
    color: white;
    position: relative;
    font-size: calc(1em + 4vw);
    font-weight: 600;
    z-index: 1;
    animation: fadeup 1s ease-in ;
    animation-delay: 3.5;
    
}
.letterGold{
    color: gold;
}


@keyframes fadeup {
    0%{
        opacity:0;
        top:20%;
    }
    100%{
        opacity:1;
        top:0%;
    }
}
@keyframes slideright{
    0%{
        opacity: 0;
        margin-right:50%;
    }
    100%{
        opacity: 1;
        margin-right:0%;
    }
}
@media (max-width: 600px){
    .frontPageImage{
        height: 500px;
        margin-top: 20px;
    }
    .homeRow{
        height: 735px;
    }
}