.navbar.bg-body-tertiary {
    --bs-bg-opacity: .3;
    backdrop-filter: blur(5px);
}
.me-4.btn-outline-warning {
    --bs-btn-border-color : none;
}
.me-2.btn-outline-warning {
    --bs-btn-border-color : none;
}
