.reviewsRow{
    display: flex;
    overflow-x: scroll;
    flex-direction: row;
    flex-wrap: nowrap;

}
.reviewsRow::-webkit-scrollbar{
    display: none;
}
.Reviews{
    background-color: rgb(5, 24, 38);
}
.Cards{
    background: linear-gradient(rgb(89, 114, 129),rgb(5, 24, 38));
    box-shadow: rgb(30, 66, 91) 5px 4px 20px 0px ;
    border: 1px solid;
    border-color: rgb(33, 90, 111);
    transition: 1s ease;
}
.Cards:hover{
    transform: scale(1.1);
}
.footerText{
    color: rgb(185, 184, 184);
}
.headerText{
    color: rgb(223, 222, 222);
}