.servicesText{
    font-weight: 600;
    font-size: 25px;
    display: flex;
    transition: 2s ease-in-out;
    justify-content: center;
    
}
.serviceImg{
    width: 80%;
    padding: 0;
    transition: .7s ease-in-out;  
}
#serviceDetails{
    color:rgb(198, 196, 196) ;
}
.serviceImg:hover{
        transform: scale(1.1);
}
.serviceTitle{
    font-size: 4vw;
    font-weight: 700;
    text-shadow: 10px;
    animation: slideright 1s ease-in;
    transition: .7s ease;
    color: white;
}
.serviceRow{
    background: radial-gradient(rgb(17, 75, 97),rgb(3, 14, 22)); 
}
.serviceRow::-webkit-scrollbar{
    display: none;
}
.servicesRow::-webkit-scrollbar{
    display: none;
}
.servicesRow{
    height: 600px;
    overflow: hidden;
}

.nextArrowRight{
    cursor: pointer;
    color: rgb(198, 196, 196);
}
.previousArrowLeft{
    cursor: pointer;
    display: none;
    color: rgb(198, 196, 196);
}
@keyframes slideright{
    0%{
      right:250px;
        
    }
    100%{
        right:0px;
       
    }
}
@keyframes textleft {
    0%{
        right:300px;
    }
    100%{
        right:0px;
    }
}

